body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 499px;
}


#container img {
    margin: 16px 16px 0px 16px;
    border-radius: 10px;
    height: 288px;
}

#texto {
    margin-top: 24px;
    text-align: center;
    padding: 0px 32px 40px;
}
#texto h1 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}
#texto p {
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 15%, 48%);
    font-size:15px;
}
