body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

#container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    top: auto;
    border-radius: 4%;
}
#container img {
    border-radius: 4%;
    display: block;
    margin: 15px auto;
    width: 90%;
}
#container h1 {
    margin: auto;
    font-size: 20px;
    width: 260px;
    display: block;
    color: hsl(218, 44%, 22%);
    text-align: center;
}
#container p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 10px 20px 20px 20px;
    text-align: center;
}


.attribution{ 
    font-size: 11px;
    text-align: center;
    position:fixed;
    bottom:0px;
}
