body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 499px;
}

#content {
    width: 288px;
    padding: 0px;
    display: block;
    margin: 16px 16px 40px 16px;
    border: 1px solid red;
}

#content img {
    border-radius: 15px;
    height: 288px;
}

#texto {
    text-align: center;
    padding: 0px 16px;
    margin-top: 16px;
    height: 131px;
    border: 1px solid red;
}
#texto h1 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}
#texto p {
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 15%, 48%);
    font-size:15px;
}
